<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSCameraUsageDescription</key>
    <string>App需要您的同意,才能访问相机,用于上传图片、上传个人头像等</string>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>App需要您的同意,才能始终访问位置,用于定位</string>
    <key>NSLocationUsageDescription</key>
    <string>App需要您的同意,才能访问位置,用于定位</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>App需要您的同意,才能在使用期间访问位置,用于定位</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>App需要您的同意,才能保存app中的图片</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>App需要您的同意,才能访问相册,用于上传图片、上传个人头像等</string>
</dict>

</plist>
